-form_for :deal, url(:deals, :new), :method => 'GET' do |f|
  =f.label( :partner, :caption => 'Partner')
  =f.select(:partner, :options => @partner_names, :selected => @deal.partner_account.try(:business_name) || @partner_names[0] )
  =f.submit 'Continue'
