!!! Strict
%html{:lang => "en", "xml:lang" => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %title PotHop

  %body
    #user
      = "#{current_account.first_name.capitalize} #{current_account.last_name.capitalize[0,1]}." unless current_account.nil?

    =yield
